# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
build
dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Training
.venv
.venv_train
__pycache__/
*.py[cod]
*$py.class
scripts/train/data
tests/sudoku_dataset
saved_model/
saved_model_retrained/
public/test_images/
